.check_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.poll {
    margin-bottom: 10px;
    border-bottom: #ccc;
    // padding: 10px;
}
